In [4]:
1 + 2

3

In [8]:
'ahoj' # use single quotes whenever possible

'ahoj'

In [7]:
"don't"

"don't"

In [9]:
type(1)

int

In [10]:
type(1.0)

float

In [14]:
True or False

True

In [16]:
type(True)

bool

In [18]:
type(1236786347826384762784627836487263487)

int

In [22]:
True | False # prefer or, and, ...

True

In [28]:
if 1 < 4:
    print("Then!")
    "Then..."
else:
    print("Else!")
"End..."

Then!

'End...'

In [29]:
def some_random(a, b):
    return a + b

some_random(10, 20)

30

In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [4]:
df = pd.read_json("https://data.smcgov.org/resource/mb6a-xn89.json")

df.head(5)

,geography,geography_type,year,less_than_high_school_graduate,high_school_graduate,some_college_or_associate_s_degree,bachelor_s_degree_or_higher,location_1,:@computed_region_uph5_8hpn,:@computed_region_i2t2_cryp
0,Atherton,Town,2014-01-01T00:00:00.000,13.6,12.3,2.7,3.5,"{'type': 'Point', 'coordinates': [-122.2, 37.4...",2.0,28596
1,Colma,Town,2014-01-01T00:00:00.000,6.3,6.4,10.4,2.4,"{'type': 'Point', 'coordinates': [-122.455556,...",4.0,28588
2,Foster City,City,2014-01-01T00:00:00.000,11.9,9.7,2.0,2.9,"{'type': 'Point', 'coordinates': [-122.266389,...",6.0,319
3,Portola Valley,Town,2014-01-01T00:00:00.000,48.1,0.0,0.0,1.8,"{'type': 'Point', 'coordinates': [-122.218611,...",14.0,28597
4,Redwood City,City,2014-01-01T00:00:00.000,16.4,10.6,6.6,3.0,"{'type': 'Point', 'coordinates': [-122.236111,...",21.0,28607

In [12]:
df[10:20]

,geography,geography_type,year,less_than_high_school_graduate,high_school_graduate,some_college_or_associate_s_degree,bachelor_s_degree_or_higher,location_1,:@computed_region_uph5_8hpn,:@computed_region_i2t2_cryp
10,San Mateo,City,2014-01-01T00:00:00.000,16.1,9.6,6.5,3.4,"{'type': 'Point', 'coordinates': [-122.313056,...",13.0,317
11,North Fair Oaks,CDP,2014-01-01T00:00:00.000,26.7,13.4,18.5,4.6,"{'type': 'Point', 'coordinates': [-122.203611,...",31.0,28608
12,Emerald Lake Hills,CDP,2014-01-01T00:00:00.000,6.2,2.0,4.1,2.2,"{'type': 'Point', 'coordinates': [-122.266389,...",24.0,28607
13,Hillsborough,Town,2014-01-01T00:00:00.000,31.1,6.1,1.5,1.4,"{'type': 'Point', 'coordinates': [-122.356389,...",8.0,28587
14,Brisbane,City,2014-01-01T00:00:00.000,0.0,1.7,11.5,3.3,"{'type': 'Point', 'coordinates': [-122.419167,...",NaN,28586
15,Menlo Park,City,2014-01-01T00:00:00.000,22.1,12.0,8.7,2.9,"{'type': 'Point', 'coordinates': [-122.183333,...",12.0,28595
16,Pacifica,City,2014-01-01T00:00:00.000,15.1,4.3,4.3,4.6,"{'type': 'Point', 'coordinates': [-122.485556,...",9.0,28604
17,San Carlos,City,2014-01-01T00:00:00.000,8.5,8.4,4.4,2.3,"{'type': 'Point', 'coordinates': [-122.2668, 3...",18.0,28611
18,Highlands-Baywood Park,CDP,2014-01-01T00:00:00.000,15.7,13.6,10.2,3.3,"{'type': 'Point', 'coordinates': [-122.343333,...",25.0,317
19,East Palo Alto,City,2014-01-01T00:00:00.000,18.3,16.4,17.2,9.1,"{'type': 'Point', 'coordinates': [-122.139722,...",5.0,312

In [4]:
first_name = "Joseph"
last_name = "Fahey"

full_name = f"{first_name} {last_name}"
full_name

'Joseph Fahey'

## Exceptions

In [5]:
try:
    print(0 / 0)
    
except ZeroDivisionError:
    print("cannot divide")

cannot divide

### try-except-else-finally
https://www.geeksforgeeks.org/try-except-else-and-finally-in-python/

In [7]:
# common exceptions
KeyError, ValueError

(KeyError, ValueError)

## Lists & Tuples

In [10]:
alist = ["string", 0.1, True]
alist

['string', 0.1, True]

In [11]:
alist[:2]

['string', 0.1]

In [12]:
alist[1:]

[0.1, True]

In [13]:
alist[2:3]

[True]

In [14]:
alist[-2]

0.1

In [16]:
alist[:-1]

['string', 0.1]

In [17]:
alist[::-1]

[True, 0.1, 'string']

In [18]:
alist[::-2]

[True, 'string']

In [19]:
alist[::2]

['string', True]

In [21]:
alist.extend([10,20])
alist

['string', 0.1, True, 10, 20]

In [22]:
alist.append(100)
alist

['string', 0.1, True, 10, 20, 100]

In [24]:
x, y = [1, 2]
[x, y]

[1, 2]

In [26]:
x, y = [1,2,3]

ValueError: too many values to unpack (expected 2)

In [27]:
### Tuples are immutable

my_tuple = (1,2)
try:
    my_tuple[1] = 3
except TypeError:
    print("cannot modify")

cannot modify

## Dictionaries

In [28]:
grades = {"Joel" : 80, "Tim" : 95}
grades["Joel"]

80

In [29]:
grades['anything']

KeyError: 'anything'

In [30]:
grades.get("anything", 0)

0

In [31]:
grades.items()

dict_items([('Joel', 80), ('Tim', 95)])

### defaultdict

In [38]:
from collections import defaultdict

word_counts = defaultdict(int)
word_counts

defaultdict(int, {})

In [39]:
for word in ["ahoj", "hello", "whatever"]:
    word_counts[word] += 1
    
word_counts

defaultdict(int, {'ahoj': 1, 'hello': 1, 'whatever': 1})

### Counter

In [40]:
from collections import Counter

c = Counter([0,1,2,0])
c

Counter({0: 2, 1: 1, 2: 1})

## Truthiness

In [43]:
[x == False for x in [False, None, [], {}, "", set(), 0, 0.0]]

[True, False, False, False, False, False, True, True]

In [51]:
if []:
    print("true")
else:
    print("false")

false

In [46]:
[x is False for x in [False, None, [], {}, "", set(), 0, 0.0]]

[True, False, False, False, False, False, False, False]

In [52]:
all([True, 1, {3}])

True

In [54]:
list(map(lambda x: x+1, [1,2,3]))

[2, 3, 4]

### filter via list comprehensions

In [57]:
[x for x in [False, None, [], {}, "", set(), 0, 0.0]
     if x is False]

[False]

## MISC

In [58]:
### assert

def smallest_item(xs):
    return min(xs)

smallest_item([10,-1,0,5])

-1

In [7]:
%%script clj

(defn my-min [xs] (apply min xs))

(my-min [10 -1 0 5])

(assert (= -1 
           (my-min [10 -1 0 5])))

(comment
   (my-min [10 -1 0 5])
    ;;=> -1
)

Clojure 1.11.1
user=> user=> #'user/my-min
user=> user=> -1
user=> user=> nil
user=> user=> nil
user=>

In [4]:
### Type annotations

def add(a:int, b: int) -> int:
    return a + b
add(10,20)

30

In [61]:
add(10, "a")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [62]:
def add2(a, b):
    a + b
    
add2(10, "a")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [66]:
def add3(a: int, b: str):
    a + b
add3(3, 10)

In [68]:
### Argument unpacking


list(zip(['a','b','c'], [1,2,3]))

[('a', 1), ('b', 2), ('c', 3)]

In [70]:
pairs = [('a', 1), ('b',2), ('c',3)]
letters, numbers = zip(*pairs)
print(letters)
print(numbers)

('a', 'b', 'c')
(1, 2, 3)

In [77]:
### Comprehension is a generator?

# this is eager
y = [print(x) for x in [1,2,3]]

# this should be lazy
y = (print(x) for x in [1,2,3])

1
2
3

In [78]:
next(y)

1

In [79]:
next(y)

2

In [81]:
print(*pairs)

('a', 1) ('b', 2) ('c', 3)

In [82]:
def magic(*args, **kwargs):
    print("unnamed args:", args)
    print("named args:", kwargs)
magic(1,2, key='word', key2='word2')

unnamed args: (1, 2)
named args: {'key': 'word', 'key2': 'word2'}

In [ ]:
(def http-get [url options])