# Chapter 2 - Python Basics

In [1]:
a = [1, 2, 3]

In [2]:
b = a

In [3]:
a.append(4)

In [4]:
b

[1, 2, 3, 4]

In [5]:
# mutable fn args
def append_element(some_list, element):
    some_list.append(element)
    
data = [1, 2, 3]
append_element(data, 4)
data

[1, 2, 3, 4]

In [7]:
# object stores types, not variables
a = 5
print(type(a))
a = 'foo'
print(type(a))

<class 'int'>
<class 'str'>

In [17]:
a = 5.5; b = 4.5

print(isinstance(a, (int, float)))
print(isinstance (b, int))

print(a is b)
print(a is not b)
print(a is None)
c = None
print(c is None)

True
False
False
True
False
True

In [18]:
# strings & tupels are immutable
a_tuple = (3, 5, (4, 5))
a_tuple[1] = 'four'

TypeError: 'tuple' object does not support item assignment

In [25]:
# Numeric types
ival = 12389123
print(ival ** 6)

fval = 7.243
fval2 = 6.78e-5

# integer division will yield floating point!
print(3 / 2)

# true integer division
print(3 // 2)

3616124613065923174373288281492931608553689
1.5
1

In [28]:
# strings are lists
s = 'python'
print(list(s))

# slicing
print(s[:3])

['p', 'y', 't', 'h', 'o', 'n']
pyt

In [32]:
# literal strings
s = r'this\has\no\special\characters'
print(s)

this\has\no\special\characters

In [33]:
# string templates
template = '{0:.2f} {1:s} are wroth US${2:d}'
template.format(4.5560, 'Argentine Pesos', 1)

'4.56 Argentine Pesos are wroth US$1'

In [37]:
# Unicode
val = "espaňol"
print(val)

val.encode('utf-8')

espaňol

b'espa\xc5\x88ol'

In [43]:
# datetime
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)

print(dt.day)

print(dt.minute)

# formating
dt.strftime('%m/%d/%y %H:%M')

# replacing time fields - can be useful for time series data analysis
dt.replace(hour=0, minute=0, second=0)

29
30

datetime.datetime(2011, 10, 29, 0, 0)

In [57]:
# Control flow - if, elif, else
x = 5
if x < 0:
    print("It's negative")
elif x ==0:
    # TODO: do something smart
    pass
elif 0 < x < 5:
    print('Positive but smaller than 5')
else:
    print('Positive and >= 5')
    
# ternary expressions
print('Non-negative' if x >= 0 else 'Negative')

Positive and >= 5
Non-negative

In [56]:
# Control flow - for loop
print('For with skipping None:')
sequence = [1, 2, None, 4, None, 5]
total = 0
for value in sequence:
    if value is not None: 
        total += value
        
print(total)

# you can also "unpack" elements in the iterator
print('Unpacking elements:')
seq = [[10, 11, 12], [20, 21, 22], [30, 31, 32,]]
for a, b, c in seq:
    print(a, b, c)
    
# you can use range function to loop by indexes
print('Using range:')
seqi = [1, 2, 3, 4]
for i in range(len(seqi)):
    print(seqi[i])

For with skipping None:
12
Unpacking elements:
10 11 12
20 21 22
30 31 32
Using range:
1
2
3
4